@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'tailwindcss';

html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
